<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/custom.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}"> -->
    <title>Try Django | {% block title %} {% endblock %}</title>
</head>

<body>
    <div>
        <h1>{% block header %} {% endblock %}</h1>
        <div>
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- <script src="{% static/js/jquery-3.4.1.js"></script> -->
    <!-- <script src="../static/js/bootstrap.js"></script> -->
</body>

</html>